/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Center layout */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
}

/* Card */
.auth-card {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

/* Title */
.auth-card h2 {
  margin-bottom: 1rem;
  text-align: center;
}

/* Inputs */
.auth-card input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Button */
.auth-card button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.auth-card button:hover {
  background: #4338ca;
}